<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Book</title>
    <link href="{{ url_for('static', filename='style_changes.css') }}" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <a href="{{ url_for('machines') }}">
        <button type="button">
            <i class="fas fa-arrow-left fa-1.5x"></i>
        </button>
    </a>
    <h2>Create Machine</h2>
<!--    del id-->
    <form method="POST" onsubmit="return confirm('Are you sure you want to create this machine?');">
        <label for="type">Type:</label>
        <select id="type" name="type" required>
            <option value="" disabled selected>Select existing or new type</option>
            <!-- Existing types -->
        </select>
        <input type="text" id="new_type" name="new_type" placeholder="Enter new type" style="display: none;" required>

        <label for="name">Name:</label>
        <input type="text" name="name" id="name" placeholder="Enter machine name" required>

        <label for="capacity">Capacity:</label>
        <input type="number" inputmode="numeric" min="1" step="1" pattern="[0-9]*"
               id="capacity" name="capacity" required>


        <button type="submit">Create Machine</button>
    </form>
</div>

<script>
    // Show/Hide new machines type field
    const machinesTypeSelect = document.getElementById('type');
    const newMachinesTypeInput = document.getElementById('new_type');

    machinesTypeSelect.addEventListener('change', () => {
        if (machinesTypeSelect.value === 'new') {
            newMachinesTypeInput.style.display = 'block';
            newMachinesTypeInput.required = true;
        } else {
            newMachinesTypeInput.style.display = 'none';
            newMachinesTypeInput.required = false;
        }
    });


    document.addEventListener('DOMContentLoaded', () => {
        // New type
        const newOption = document.createElement('option');
        newOption.value = 'new';
        newOption.textContent = 'New type';
        machinesTypeSelect.appendChild(newOption);

        // Existing machines type list
        const existingTypes = {{ existing_types | tojson }}; // from Flask
        existingTypes.forEach(type => {
            const option = document.createElement('option');
            option.value = type;
            option.textContent = type;
            machinesTypeSelect.appendChild(option);
        });

    });
</script>


</body>
</html>
