{% extends "base.html" %}

{% block title %}BobERP - Employees{% endblock %}

{% block content %}
<div class="table-container">
    <form class="employees-form" method="POST">
        <h2>Employees Information</h2>
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>Personal Code</th>
                <th>Phone Number</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for employee in employees %}
            <tr>
                <td>{{ employee.name }}</td>
                <td>{{ employee.surname }}</td>
                <td>{{ employee.personal_code }}</td>
                <td>{{ employee.phone }}</td>
                <td>{{ employee.email if employee.email else '-' }}</td>
                <td>
                    <div class="nav-buttons">
                        <a href="#" class="btn edit-btn">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a href="#" class="btn delete-btn" onclick="return confirmDelete('{{ employee.name }} {{ employee.surname }}')">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </div>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </form>
</div>

<script>
    function confirmDelete(employeeName) {
        return confirm("Are you sure you want to delete " + employeeName + "?");
    }
</script>

{% endblock %} 