{% extends "base.html" %}

{% block title %}Machines List{% endblock %}

{% block content %}
<div class="table-container">
    <form class="machines-form" method="POST">
        <h2>Machines Information</h2>
        <table>
            <thead>
            <tr>
                <th>Machine Name</th>
                <th>Type</th>
                <th>Capacity</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for machine in machines %}
            <tr>
                <td>{{ machine.name }}</td>
                <td>{{ machine.type }}</td>
                <td>{{ machine.capacity }}</td>
                <td>
                    <div class="nav-buttons">
                        <a href="#" class="btn edit-btn">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a href="#" class="btn delete-btn" onclick="return confirmDelete('{{ machine.name }}')">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </div>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </form>
</div>

<script>
    function confirmDelete(machineName) {
        return confirm("Are you sure you want to delete " + machineName + "?");
    }
</script>

{% endblock %} 