{% extends "base.html" %}

{% block title %}Production Plan{% endblock %}

{% block content %}

<div class="table-container">
    <!-- Back to Plans Button -->
    <a href="/plans" class="btnview view-btn">
            Back to All Plans
    </a>
    <div style="margin: 20px 0;"></div>
    <h2>Production Plan: {{ production_plan_name }}</h2>
    <div style="margin: 20px 0;"></div>
    <div class="button-container">
        <h3>Optimize by budget</h3>
        <label for="budget">Most Efficient Budget:</label>
        <form action="{{ url_for('display_production_plan', production_plan_id=production_plan_id) }}" method="POST">
            <div class="input-button-group">
                <input type="number" name="budget" value="{{ optimized_budget }}">
                <button type="submit">Find Efficient Budget</button>
            </div>
        </form>
    </div>

    <div class="button-container">
        <form action="/calculate_with_budget" method="POST">
            <label for="budget">Budget Limit (euro):</label>
            <div class="input-button-group">
                <input type="number" id="budget" name="budget" step="0.01" value="{{ saved_budget }}"
                       min="{{ min_budget }}" max="{{ max_budget }}" required>
                <button type="submit">Calculate by Budget</button>
            </div>
            <input type="hidden" name="production_plan_id" value="{{ production_plan_id }}">
        </form>
    </div>

    <div class="button-container">
        <h3>Optimize by days</h3>
        <form action="/calculate_by_days" method="POST">
            <label for="time_limit">Time Limit (days):</label>
            <div class="input-button-group">
                <input type="number" id="time_limit" name="time_limit" step="1"
                       min="{{ total_days_min }}" max="{{ total_days_max }}" value="{{ saved_days }}" required>
                <button type="submit">Calculate by Days</button>
            </div>
            <input type="hidden" name="production_plan_id" value="{{ production_plan_id }}">
        </form>
    </div>


    <!--    <div class="button-container">-->
<!--        <h3>Optimize by budget</h3>-->
<!--        <form action="{{ url_for('display_production_plan', production_plan_id=production_plan_id) }}" method="POST" >-->
<!--            <input type="number" name="budget" value="{{ optimized_budget }}">-->
<!--            <button type="submit">Optimize Budget</button>-->
<!--        </form>-->
<!--    </div>-->
<!--    <div class="button-container">-->
<!--        <div style="margin: 10px 0;"></div>-->
<!--        <form action="/calculate_with_budget" method="POST">-->
<!--            <label for="budget">Limit Budget:</label>-->
<!--            <input type="number" id="budget" name="budget" step="0.01" value="{{ min_budget }}"-->
<!--                   min="{{ min_budget }}" max="{{ max_budget }}" required>-->
<!--            <input type="hidden" name="production_plan_id" value="{{ production_plan_id }}">-->
<!--            <button type="submit">Calculate by Budget</button>-->
<!--        </form>-->
<!--    </div>-->
<!--    <div class="button-container">-->
<!--        <h3>Optimize by days</h3>-->

<!--        <form action="/calculate_by_days" method="POST">-->
<!--            <label for="time_limit">Time Limit (days):</label>-->
<!--            <input type="number" id="time_limit" name="time_limit" step="1" min="{{ total_days_min}}" max="{{ total_days_max}}" required>-->
<!--            <input type="hidden" name="production_plan_id" value="{{ production_plan_id }}">-->
<!--            <button type="submit">Calculate by Days</button>-->
<!--        </form>-->
<!--    </div>-->
    <div style="margin: 20px 0;"></div>
    <h3>Plan Completion Information</h3>
    <table>
        <thead>
        <tr>
            <th></th>
            <th>Minimum</th>
            <th>Maximum</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Budget</td>
            <td>{{ min_budget }}</td>
            <td>{{ max_budget }}</td>
        </tr>
        <tr>
            <td>Profit</td>
            <td>
                {% if min_profit is not none %}
                {{ min_profit }}
                {% else %}
                Not calculated
                {% endif %}
            </td>
            <td>
                {% if max_profit is not none %}
                {{ max_profit }}
                {% else %}
                Not calculated
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>Time</td>
            <td>{{ total_days_min }} days</td>
            <td>{{ total_days_max }} days</td>
        </tr>
        </tbody>
    </table>

    <div style="margin: 30px 0;"></div>

    <!-- Table for Book Details -->
    <h3>Books Information</h3>
    <table id="sortable-table">
        <thead>
            <tr>
                <th data-column="0" class="sortable">Book</th>
                <th data-column="1" class="sortable">Min Amount</th>
                <th data-column="2" class="sortable">Max Amount</th>
                <th data-column="3" class="sortable">Production Cost ($)</th>
                <th data-column="4" class="sortable">Selling Price ($)</th>
                <th data-column="5" class="sortable">Production Time (min)</th>
                <th data-column="6" class="sortable">Profit per Hour ($)</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books_details %}
                <tr>
                    <td>{{ book.name }}</td>
                    <td>{{ book.min_amount }}</td>
                    <td>{{ book.max_amount }}</td>
                    <td>{{ book.production_cost }}</td>
                    <td>{{ book.selling_price }}</td>
                    <td>{{ book.production_time }}</td>
                    <td>{{ book.profit_per_hour }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
<script>

    // Table sorting
    document.addEventListener('DOMContentLoaded', () => {
        const table = document.getElementById('sortable-table');
        const headers = table.querySelectorAll('th.sortable');
        const tbody = table.querySelector('tbody');

        headers.forEach(header => {
            header.addEventListener('click', () => {
                const columnIndex = parseInt(header.getAttribute('data-column'));
                const isAscending = header.classList.contains('asc');
                sortTable(tbody, columnIndex, !isAscending);

                // Update header classes
                headers.forEach(h => h.classList.remove('asc', 'desc'));
                header.classList.toggle('asc', !isAscending);
                header.classList.toggle('desc', isAscending);
            });
        });

        function sortTable(tbody, columnIndex, ascending) {
            const rows = Array.from(tbody.rows);
            rows.sort((a, b) => {
                const aText = a.cells[columnIndex].textContent.trim();
                const bText = b.cells[columnIndex].textContent.trim();

                // Numeric sorting for the quantity column
                if (!isNaN(aText) && !isNaN(bText)) {
                    return ascending ? aText - bText : bText - aText;
                }
                // String sorting for other columns
                return ascending
                    ? aText.localeCompare(bText)
                    : bText.localeCompare(aText);
            });

            // Append sorted rows back to the tbody
            rows.forEach(row => tbody.appendChild(row));
        }

    });
</script>
{% endblock %}