{% extends "base.html" %}

{% block title %}All Production Plans{% endblock %}

{% block content %}
<div class="table-container">
    <div class="header-container">
        <h2>All Production Plans</h2>
        {% if role_id != 2 %}
        <a href="{{ url_for('create_plan') }}" class="create-btn">
            <span>Add New Plan</span>
        </a>
        {% endif %}
    </div>
    <table id="sortable-table">
        <thead>
            <tr>
                <th data-column="0" class="sortable">Production Plan</th>
                <th data-column="1" class="sortable">Operator</th>
                <th data-column="2" class="sortable">Time Limit (days)</th>

                <th>Actions</th>

            </tr>
        </thead>
        <tbody>
            {% for plan in production_plans.values() %}
            <tr>
                <td>{{ plan.production_plan_name }}</td>
                <td>{{ plan.operator_name }}</td>
                <td>{{ plan.time_limit_in_days }}</td>
                <td>
                    <div class="nav-buttons">
                    <a href="{{ url_for('display_production_plan', production_plan_id=plan.production_plan_id) }}" class="btnview view-btn">View</a>
                    {% if role_id != 2 %}
                    <a href="{{ url_for('edit_plan', plan_id=plan.production_plan_id) }}" class="btn edit-btn">
                        <i class="fas fa-edit"></i>
                    </a>
                    {% endif %}
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>

    // Table sorting
    document.addEventListener('DOMContentLoaded', () => {
        const table = document.getElementById('sortable-table');
        const headers = table.querySelectorAll('th.sortable');
        const tbody = table.querySelector('tbody');

        headers.forEach(header => {
            header.addEventListener('click', () => {
                const columnIndex = parseInt(header.getAttribute('data-column'));
                const isAscending = header.classList.contains('asc');
                sortTable(tbody, columnIndex, !isAscending);

                // Update header classes
                headers.forEach(h => h.classList.remove('asc', 'desc'));
                header.classList.toggle('asc', !isAscending);
                header.classList.toggle('desc', isAscending);
            });
        });

        function sortTable(tbody, columnIndex, ascending) {
            const rows = Array.from(tbody.rows);
            rows.sort((a, b) => {
                const aText = a.cells[columnIndex].textContent.trim();
                const bText = b.cells[columnIndex].textContent.trim();

                // Numeric sorting for the quantity column
                if (!isNaN(aText) && !isNaN(bText)) {
                    return ascending ? aText - bText : bText - aText;
                }
                // String sorting for other columns
                return ascending
                    ? aText.localeCompare(bText)
                    : bText.localeCompare(aText);
            });

            // Append sorted rows back to the tbody
            rows.forEach(row => tbody.appendChild(row));
        }

    });
</script>
{% endblock %}